{% extends 'base.html' %}


{% block content %}

<style>
	body {

		background: url('https://images.unsplash.com/photo-1506784983877-45594efa4cbe?auto=format&fit=crop&w=1950&q=80') no-repeat center center fixed;

		background-size: cover;

	}

	.overlay {

		background-color: rgba(0, 0, 0, 0.6);
		/* Dark overlay */

		backdrop-filter: blur(6px);
		/* Blur effect */

		min-height: 100vh;

		display: flex;

		justify-content: center;

		align-items: center;

	}

	.card {

		background-color: rgba(224, 131, 44, 0.918);

		border: none;

		backdrop-filter: blur(10px);

		border-radius: 10px;

		padding: 2rem;

		color: #fff;

		width: 100%;

		max-width: 1000px;

	}

	.card-container {
		position: fixed;
		top: 20px;
		/* Adjust as needed */
		left: 1000px;
		/* Adjust as needed */
		/* For other corners, adjust 'top', 'bottom', 'left', 'right' accordingly */
		z-index: 1400;
		/* Ensure it stays above other elements */
	}

	.form-control {

		background-color: rgba(255, 255, 255, 0.2);

		border: none;

		color: white;

	}

	.form-select {

		background-color: rgba(255, 255, 255, 0.2);

		border: none;

		color: white;

	}

	.form-control::placeholder {

		color: #ccc;

	}
</style>

<div class="card-container">
	<div class="card-body p-3 mx-auto mt-5" style="width: 50%; max-width: 400px;">
		<div class="card text-center mt-5">
			<h3 class="card-title">TODO</h3>
			<p class="card-text">Manage your tasks efficiently with our intuitive interface. Add new task, view your task list and stay organized effortlessly.</p>
			
		</div>
	</div>
</div>

{% endblock %}